.toolbar {
    nav {
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 3px #0000000D;

        @media (max-width: 768px) {
            display: inline-block;
        }
    }

    button {
        border: 1px solid #D7DAE2;
        background-color: #FFFFFF;
        padding: 8px 16px 7px;
        border-radius: 0;
        font-size: 13px;
        color: #4D4F5C;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
            color: #3B86FF;
        }
    }

    h1,
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        color: #4D4F5C;
        font-size: 18px;

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

.toolbarTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    @media (max-width: 768px) {
        display: block;
    }
}

.toolbarBottom {
    display: flex;
    position: relative;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        display: block;
    }

    h2 {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: -1;

        @media (max-width: 768px) {
            position: static;
        }
    }
}